<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </div>
</div>
<div>
    <input type="text"  [(ngModel)]="inputName"/>点击我显示内容

    <h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
</div>

<!--<button (click)="newMinor()">New minor version</button>
<button (click)="newMajor()">New major version</button>-->
<!--
<hero-test [major]="major" [minor]="minor" (onVoted)="onVoted($event)"> </hero-test>-->

<button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>
<div class="seconds">{{seconds()}}</div>
<hero-test ></hero-test>



